<!DOCTYPE html>
<html manifest="manifest.php">
<head><title>Minesweeper</title></head>
    <body>
    <h1>Minesweeper application</h1>
        <script type="text/javascript" src="minesweeper.js"></script>
    <h3>Rules of the game</h3>
   <ol>
       <li>Rule1:</li>
   </ol>
   <!--Testing jinja templating-->
   <ul id="msB">
       <li>{{dict.width}}</li>
       <li>{{dict.height}}</li>
       <li>{{dict.isAMine}}</li>
   </ul>

   <table>
    {% for i in range(dict.width) %}
        {% for j in range(dict.height) %}
            
            <tr>
                {{i}}
                {{j}}
                {{dict.array[i][j].isAMine}}
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
    

    </body>
</html>

